h1{
    color: #2ea44f;
    width: 100vw;
    text-align: center;
    margin: 10px 0 1px 0;
    margin-bottom: 30px;
}

img{
    width: 200px;
}

.title{
    color: blue;
    background: yellowgreen;
    padding: 10px;
    border: 10px solid black;
}

#title-id{
    color: rebeccapurple;

}

section, ul{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

a{
    text-decoration: none;
    color: gray;
    font-weight: 600;
}

a:hover{
    color: aquamarine;
}

article:hover{
    background: #fa755a;
    transition: 7s;
}

article{
    width: 30%;
    display: flex;
    cursor: pointer;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 20px;
}

.btn-primary {
    color: #fff;
    background-color: #2ea44f;
    border-color: rgba(27,31,35,.15);
    box-shadow: 0 1px 0 rgba(27,31,35,.1), inset 0 1px 0 hsla(0,0%,100%,.03);
    position: relative;
    display: inline-block;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid;
    border-radius: 6px;
    -webkit-appearance: none;
    text-decoration: none;
}







body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

  html {
    box-sizing: border-box;
    margin: auto;
    max-width: 100vw;
    min-height: 600px;
    overflow: auto;
}

*, *:before, *:after {
    box-sizing: inherit;
    overflow: hidden;
}

*::-webkit-scrollbar{
    display: none;
}

* { 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    padding: 0;
}

ul {
list-style: none;
padding: 0;
margin: 0;
}

@media (min-width: 900px){
    .phone-page{
        display: none
    }
}


input,
label,
select,
button,
textarea
{
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
	
	font-size:13px;
	font-family:Arial;
}

input:focus
{
	outline:0;
}

input,
textarea
{
	// -webkit-box-sizing:content-box;
	// -moz-box-sizing:content-box;
	// box-sizing:content-box;
}

button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select
{
	// -webkit-box-sizing:border-box;
	// -moz-box-sizing:border-box;
	// box-sizing:border-box;
}


input[type=checkbox],
input[type=radio]
{
	width:13px;
	height:13px;
}

input[type=search]
{
	-webkit-appearance:textfield;
	-webkit-box-sizing: content-box;
}

::-webkit-search-decoration
{
	display:none;
}

button,
input[type="reset"],
input[type="button"],
input[type="submit"]
{
	overflow:visible;
	// width:auto;
}

::-webkit-file-upload-button
{	
	padding:0;
	border:0;
	background:none;
}

textarea 
{
	vertical-align:top;
	overflow:auto;
}


select[multiple] 
{
	vertical-align:top;
}

.StripeElement {
    height: 40px;
    padding: 10px 12px;
    width: 100%;
    min-width: 350px;
    color: #32325d;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 4px;
  
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }